HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/src/main/resources/static/about.html
/src/main/resources/static/contact.html
/src/main/resources/static/index.html
/src/main/resources/static/services.html
/src/main/resources/static/work-single.html
/src/main/resources/static/works.html
app.log
