<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer mt-1 pt-1 " role="contentinfo" th:fragment="content">
    <div class="container">
        <div class="d-flex">
            <div class="row-cols-sm-1">
                <div class="d-flex"><p>Developed and designed by </p>
                    <p style="color: black; margin-left: 1em"> shvdy &copy;</p></div>
                <p>All Rights Reserved</p>
            </div>
            <div class="col-3  align-items-sm-end ">
                <div CLASS="slink-container d-inline-flex">
                    <a href="https://github.com/D1OO/Spring-Boot-Project"><i class="sicon" id="ghicon"></i></a>
                    <a class="slink align-self-center" href="https://github.com/D1OO/Spring-Boot-Project">git hub</a>
                </div>
                <div CLASS="slink-container d-inline-flex">
                    <a href="https://t.me/liveloveasap"><i class="sicon" id="tgicon"></i></a>
                    <a class="slink align-self-center" href="https://t.me/liveloveasap">telegram</a>
                </div>
                <div CLASS="slink-container d-inline-flex">
                    <i class="sicon" id="mailicon"></i>
                    <p class="slink align-self-center">100dmytro@gmail.com</p>
                </div>

            </div>
        </div>
    </div>
</footer>
</body>
</html>