<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar  custom-navmenu" id="main-navbar" th:fragment="content">
    <div class="container px-0">
        <ul class="list-inline" style="font-size: 0.8em">
<!--            <li class=list-inline-item><a th:href="@{/}">Test</a></li>-->
            <!--            <li class=list-inline-item><a th:href="@{/}">Blessed</a></li>-->
            <!--            <li class=list-inline-item><a th:href="@{/}">Never</a></li>-->
            <!--            <li class=list-inline-item><a th:href="@{/}">Stressed</a></li>-->
        </ul>


    </div>
</div>
</body>
</html>