<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar  custom-navmenu" id="main-navbar" th:fragment="content">
    <div class="container px-0">
        <ul class="list-inline" style="font-size: 0.8em">
            <li class=list-inline-item><a th:href="@{/}">Test</a></li>
            <!--            <li class=list-inline-item><a th:href="@{/}">Blessed</a></li>-->
            <!--            <li class=list-inline-item><a th:href="@{/}">Never</a></li>-->
            <!--            <li class=list-inline-item><a th:href="@{/}">Stressed</a></li>-->
        </ul>

        <ul class="list-inline  navbar-right">
            <li class=" list-inline-item" sec:authorize="isAnonymous()">
                <div>
                    <a class="pretty-button" th:href="@{/login}" th:text="#{sign-in}">Sign in</a>
                    <a class="pretty-button signupButton" href="javascript:void(0)"
                       onclick="document.forms['signUpButton'].submit()"
                       th:text="#{create-account}">Create Account</a>
                    <form id="signUpButton" method="POST" th:action="@{/signup}">
                        <!--                        <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>-->
                    </form>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="locale">
                    <a class="pretty-button " href="javascript:void(0)" id="ua">ua</a>
                    <a class="pretty-button " href="javascript:void(0)" id="eng">en</a>
                </div>
            </li>
            <li class="list-inline-item" sec:authorize="isAuthenticated()">
                <ul class="list-inline ">
                    <li class="list-inline-item" style="font-size: 0.7em; max-width: 560px">
                        <p><span th:text="#{logged-as}"></span>
                            <span class="logged-in-as"
                                  th:text="${#authentication.getPrincipal().getFirstName()}"></span>
                            <span th:text="${'(' + #request.userPrincipal.name + ')'}"></span>
                        </p>
                    </li>
                    <li class="list-inline-item" id="logout-link">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                        </form>
                        <button class="pretty-button signupButton" onclick="document.forms['logoutForm'].submit()"
                                th:text="#{logout}">
                            Logout
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>