<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-light custom-navbar" id="navbar2" th:fragment="content">
    <div class="container px-0">
        <div class="d-flex flex-grow-1 justify-content-center">
            <a class="navbar-brand" th:href="@{/}">DREAMFIT</a>
        </div>
        <a class="navbar-brand" id="justatest"></a>
        <span sec:authorize="hasAuthority('ROLE_SUPERADMIN')" style="font-size: 0.8em"><a th:href="admin">Admin page</a>
        </span>
        <a class="burger" data-target="#main-navbar" data-toggle="collapse" href="#">
            <span></span>
        </a>
    </div>
</nav>
</body>
</html>