<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal" id="myModal" th:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <p2 class="p-1 mt-2 mb-2" style="size:4em" th:text="#{user.meals-to-add}">Meals to add:</p2>
            <span class="close mt-0" onclick="closeAddFoodModalWindow()">&times;</span>
        </div>
        <div class="modal-body container" id="modalbody">
            <div class="m-2 tabs" id="addfoodcontainer" style="display: block">
                <div class="d-inline-flex flex-wrap">
                    <div class="mb-1" th:each="food : ${userFood}">
                        <div class="user_food m-2">
                            <a rel="group" title=""></a>
                            <div class="label ">
                                <div class="label-text">
                                    <button class="pretty-button foodlink"
                                            onclick="addedNewEntry(this.getAttribute('food'), this.getAttribute('food-name'))"
                                            th:food="${food}" th:food-name="${food.name}"
                                            th:text="${food.name}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="new-entries-container">
                        <div id="items" th:fragment="new-entries-list">
                            <input id="new-entries-list" th:value="${newEntriesDTO}" type="hidden">
                            <form id="new-entries-form" method="post" th:action="@{/save-new-entries}"
                                  th:object="${newEntriesDTO}">
                                <table style="width: 80%">
                                    <input th:field="${newEntriesDTO.recordId}" type="hidden"/>
                                    <input th:field="${newEntriesDTO.profileId}" type="hidden"/>
                                    <input th:field="${newEntriesDTO.recordDate}" type="hidden"/>
                                    <tr align="center" class="row align-items-top m-1" id="fff"
                                        th:each="entry, stat : ${newEntriesDTO.entries}">
                                        <td class="foodlabel  row justify-content-end m-1"
                                            style="width: 18%; justify-content: end">
                                            <p class="mr-2" style="text-align: right"
                                               th:text="${entry.foodName}"></p>
                                        </td>
                                        <td class="d-inline-flex col-sm-auto align-items-top m-1">
                                            <input class="form-control mr-2" placeholder="quantity(g)"
                                                   style="width: 50%"
                                                   th:field="${newEntriesDTO.entries[__${stat.index}__].quantity}">
                                            <input class="form-control"
                                                   th:field="${newEntriesDTO.entries[__${stat.index}__].foodDTOJSON}"
                                                   type="hidden">
                                            <label th:text="#{food.grams}">(g)</label>
                                        </td>
                                        <td class="">
                                            <a class=" mt-2 removeButton"
                                               onclick="removedEntry(this.getAttribute('indexx'))"
                                               style="padding: 4px 8px; color: rgba(168,56,59,0.66)"
                                               th:indexx="${stat.index}" type="button" th:text="#{user.remove}">
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <button class="pretty-button switch-content" onclick="setModalContainerTo('createfoodcontainer')"
                        style="width: 40%" th:text="#{user.create-new}">Create New
                </button>
            </div>
            <div class="mt-4" id="createfoodcontainer" style="display: none">
                <form class="form" id="createfoodform" method="post" style="width: 100%" th:action="@{/save-new-food}"
                      th:object="${newFoodDTO}">
                    <input th:field="${newFoodDTO.profileId}" type="hidden">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group col-md-11"
                                 th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                                <label class="control-label" for="name" th:text="#{user.food-name}">Food Name</label>
                                <input class="form-control"
                                       data-msg="Enter a valid first name"
                                       data-rule="firstnameexp" id="name"
                                       th:field="*{name}" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-11"
                                 th:classappend="${#fields.hasErrors('calories')}? 'has-error':''">
                                <label class="control-label" for="calories" th:text="#{user.calories}">Calories</label>
                                <input class="form-control"
                                       data-msg="Enter a valid last name"
                                       data-rule="lastnameexp" id="calories"
                                       th:field="*{calories}" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-11"
                                 th:classappend="${#fields.hasErrors('proteins')}? 'has-error':''">
                                <label class="control-label" for="proteins"  th:text="#{user.proteins}">Proteins</label>
                                <input class="form-control"
                                       data-msg="Enter a valid first name (ukrainian letters)"
                                       data-rule="firstnameuaexp" id="proteins"
                                       th:field="*{proteins}"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group col-md-11"
                                 th:classappend="${#fields.hasErrors('fats')}? 'has-error':''">
                                <label class="control-label" for="fats"  th:text="#{user.fats}">Fats</label>
                                <input class="form-control"
                                       data-msg="Enter a valid first name"
                                       data-rule="firstnameexp" id="fats"
                                       th:field="*{fats}"/>
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-11"
                                 th:classappend="${#fields.hasErrors('carbohydrates')}? 'has-error':''">
                                <label class="control-label" for="carbohydrates" th:text="#{user.carbs}">Carbohydrates</label>
                                <input class="form-control"
                                       data-msg="Enter a valid last name"
                                       data-rule="lastnameexp" id="carbohydrates"
                                       th:field="*{carbohydrates}"  />
                                <div class="validate"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="m-2 d-flex flex-column col-5 tabs">
                    <button class="pretty-button mt-2" id="myBtn" onclick="saveCreatedFood()" th:text="#{user.save}">Save</button>
                    <button class="pretty-button switch-content mt-2" onclick="setModalContainerTo('addfoodcontainer')" th:text="#{user.back}">
                        Back
                    </button>
                </div>
                <!--                <p class="error-validation"-->
                <!--                   th:each="error : ${#fields.errors('global')}"-->
                <!--                   th:if="${#fields.hasGlobalErrors()}"-->
                <!--                   th:text="${error}">Validation error</p>-->

                <!--                <div class="form-group col-md-5">-->
                <!--                    <input class="pretty-button d-block w-100" disabled="disabled" type="submit" value="SIGN UP">-->
                <!--                </div>-->
                <!--                <div class="form-group col-md-12">-->
                <!--                    <span>Already signed up? <a style="color:#34ce57" th:href="@{/login}">LOGIN</a></span>-->
                <!--                </div>-->

                <!--                <div class="alert alert-info col-md-12 mb-3" role="alert" th:if="${logout}">You've been logged-->
                <!--                    out-->
                <!--                    successfully.-->
                <!--                </div>-->

                <!--                <div class="col-md-12 mb-3" style="background: #eeeeee">-->
                <!--                    <div class="loading" style="background: #eeeeee">Loading</div>-->
                <!--                    <div class="error-message"></div>-->
                <!--                    <div class="sent-message">filler</div>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="pretty-button" onclick="saveNewEntries()" style="width: 40%" th:text="#{user.save}">save</button>
        </div>
    </div>
</div>
</body>
</html>
