<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal" id="myModal" th:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">

        <div class="modal-header">
            <p2 class="p-1 mt-2 mb-2" style="size:4em">Meals to add:</p2>
            <span class="close mt-0" onclick="closeAddFoodModalWindow()">&times;</span>
        </div>
        <div class="modal-body">
            <div class=" row mb-3">
                <div class="user_food m-2" th:each="food : ${userFood}">
                    <div class="portfolio-wrapper ">
                        <a rel="group" title=""></a>
                        <div class="label">
                            <div class="label-text">
                                <button class="pretty-button foodlink" onclick="appendNewEntry()"
                                        th:text="${food.value.name}"></button>
                                <input id="foodClickedId" th:value="${food.key}" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <form class="formf" id="newEntryf" method="post" th:action="@{/save}" th:object="${newEntriesDTO}">
                    <input th:field="${newEntriesDTO.recordId}" type="hidden"/>
                    <input th:field="${newEntriesDTO.foodDTOContainerJSON}">
                    <fieldset id="items" th:fragment="items2">
                        <div>
                            <table style="width: 80%">
                                <tr align="center" class="row align-items-top m-1" id="fff"
                                    th:each="o, stat : ${newEntriesDTO.entries}">
                                    <td class="foodlabel  row justify-content-end m-1"
                                        style="width: 18%; justify-content: end">
                                        <p class="mr-2" style="text-align: right"
                                           th:text="${userFood[__newEntriesDTO.entries[__stat.index__].foodId__].name}"></p>
                                    </td>
                                    <td class="col-sm-auto row align-items-top m-1">
                                        <input class="form-control" placeholder="quantity(g)"
                                               th:field="${newEntriesDTO.entries[__${stat.index}__].quantity}">
                                        <label>(g)</label>
                                    </td>
                                    <td class="">
                                        <button class="pretty-button mt-2 removeButton" style="padding: 4px 8px"
                                                type="button"
                                        >Remove
                                        </button>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".removeButton").on("click", function () {
                                                    // $(this).remove();
                                                    $(this).closest('tr').remove();
                                                });
                                            });
                                        </script>
                                        <!--                                        <input type="hidden" class="form-control mr-1"-->
                                        <!--                                               th:field="${newEntries.entries[__${stat.index}__].recordId}">-->
                                        <input class="foodentry form-control"
                                               th:field="${newEntriesDTO.entries[__${stat.index}__].foodId}"
                                               type="hidden">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="pretty-button" onclick="document.forms['newEntryf'].submit()" style="width: 40%"
                    type="submit">save
            </button>
        </div>
    </div>
</div>
</body>
</html>
