<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-container flex-column d-flex food-diary-container" data-aos="fade-zoom-in" data-aos-offset="0"
     style="width: 100%" th:fragment="content">
    <div class=" mb-4 m-4 font-rubick " style="width: 100%;">
        <h2 th:text="#{food-diaty}">Food Diary</h2>
    </div>
    <div class="tabs row d-flex ml-2 mb-3" style="width: 100%">
        <button class="pretty-button m4 recordTab ml-3" th:each="rec,stat : ${data}"
                th:onclick="'tabClick(\'.dailyRecord' + ${stat.index} +'\')'"
                th:text="${#temporals.day(rec.getRecordDateAsLD()) + ' ' + #temporals.format(rec.getRecordDateAsLD(),'EE', currentLocale)}"></button>
        <button class="pretty-button m4 ml-3 nextb" style="background: rgba(40,0,169,0.36)"
                onclick="setContentContainerTo('/food-diary?d=' + this.getAttribute('lastdate'))"
                th:lastdate="${data[#lists.size(data) - 1].recordDate}" th:text="#{diary.next}"> Next ➡
        </button>
    </div>
    <div class="record-tabs container m2  flex-grow-1 " style="max-height: available"
         th:classappend="${'dailyRecord' + stat.index}"
         th:each="rec,stat : ${data}"
         th:style="${stat.first ? 'display:block' : 'display:none'}">
        <div class="tab-container" th:if="${rec.getTotalCalories() != -1}">
            <div class="row ml-4 align-items-center">
                <h4 class="mr-2" th:text="#{daily-cals-norm}">Your daily calories norm:</h4>
                <h4 class="logged-in-as" th:text="${rec.getPercentage()} + '%'"></h4>
                <h4 class="float-right" th:text="' (' + ${rec.getTotalCalories()} + '/' +
                     ${#authentication.getPrincipal().getUserProfile().getDailyCalsNorm()}"></h4><h4
                    class="font-rubick">)</h4>
            </div>
            <div>
                <table class="col-8 table" style="width: 450px; font-size: 1.2em">
                    <thead style="font-size: 0.9em; font-weight: normal; text-align: right">

                    <th colspan="2" style="text-align: left">
                    </th>
                    <th class="bg" id="first" th:text="#{user.fat}">Fat</th>
                    <th class="bg" th:text="#{user.carbs}">Carbs</th>
                    <th class="bg" th:text="#{user.prot}">Prot</th>
                    <th class="bg" th:text="#{user.calories}">Cals</th>

                    </thead>
                    <tbody style="text-align: right">
                    <tr>
                        <td th:text="#{diary.total}">TOTAL</td>
                        <td></td>
                        <td th:text="${rec.getTotalFats()}"></td>
                        <td th:text="${rec.getTotalProteins()}"></td>
                        <td th:text="${rec.getTotalCarbs()}"></td>
                        <td th:text="${rec.getTotalCalories()}"></td>
                    </tr>
                    <tr th:each="food: ${rec.entries}">

                        <td style="text-align: right; width: 100px" th:text="${food.food.name}"></td>
                        <td style=" vertical-align: middle; text-align: left; color: #747478; font-size: 0.7em"
                            th:text="${food.quantity} + 'g'"></td>
                        <!--                            <td th:text="${#request.getParameter('lang') == 'ua'} ? ${user.firstNameUa} : ${user.firstName}"></td>-->
                        <td th:text="${food.food.fats * food.quantity/100}"></td>
                        <td th:text="${food.food.carbohydrates * food.quantity/100}"></td>
                        <td th:text="${food.food.proteins * food.quantity/100}"></td>
                        <td style="background: #e2bfaf   ;font-weight: bold"
                            th:text="${food.food.calories * food.quantity/100}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:unless="${rec.getTotalCalories() != -1}">
            <p class="m-4 " style="font-style: italic; color: #787a7a; font-size: 1.2em" th:text="#{user.empy-list}">Your eaten food
                list for this day is empty...</p>
        </div>
        <div class="tabs container m2 mb-4">
            <form method="post" th:classappend="${'data-food-modal-window' + stat.index}">
                <input id="profileId" name="profileId" th:value="${#authentication.getPrincipal().getId()}"
                       type="hidden">
                <input id="recordId" name="recordId" th:value="${rec.recordId}" type="hidden">
                <input id="recordDate" name="recordDate" th:value="${rec.recordDate}" type="hidden">
            </form>
            <button class="pretty-button" style="width: 12em; "
                    th:onclick="'openAddFoodModalWindow(\'.data-food-modal-window' + ${stat.index} +'\')'"
                    th:text="#{add-new}">Add new
            </button>
        </div>
    </div>
</div>
</body>
</html>

