<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-container" data-aos="fade-zoom-in" data-aos-offset="0" th:fragment="content">
    <div class="h2 mb-4 m-4 font-rubick d-flex" th:text="${@sessionInfo.user.username}">User</div>
    <form class="form" method="post" style="width: 100%" th:action="@{/update-profile}" th:object="${userProfile}">
        <input id="profileId" name="profileId" th:value="${@sessionInfo.user.userProfile.profileId}" type="hidden"/>
        <div class="row" style="width: 100%;">
            <div class="col-6">
                <div class="form-group col-md-11">
                    <label class="control-label" for="firstName" th:text="#{login.first-name}">First name</label>
                    <input class="form-control" th:field="*{firstName}"/>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-md-11">
                    <label class="control-label" for="lastName" th:text="#{login.last-name}">Last name</label>
                    <input class="form-control" th:field="*{lastName}"/>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-md-11">
                    <label class="control-label" for="firstNameUa">First name UA</label>
                    <p style="font-size: 0.9em;">(not required)</p>
                    <input class="form-control" th:field="*{firstNameUa}"/>
                    <div class="validate"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group col-md-11">
                    <label class="control-label" for="weight">Weight</label>
                    <input class="form-control" th:field="*{weight}"/>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-md-11">
                    <label class="control-label" for="height">Height</label>
                    <input class="form-control" th:field="*{height}"/>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-md-11">
                    <label class="control-label" for="age">Age</label>
                    <input class="form-control" th:field="*{age}"/>
                    <div class="validate"></div>
                </div>
                <div class="form-group col-md-11">
                    <label class="control-label" for="lifestyle">Lifestyle</label>
                    <select class="form-control" th:field="*{lifestyle}" id="lifestyle">
                        <option value="*{lifestyle}"></option>
                        <option th:each="colorOpt : ${T(net.shvdy.nutrition_tracker.entity.UserProfile.Lifestyle).values()}"
                                th:text="${colorOpt}" th:value="${colorOpt}"></option>
                    </select>
                    <div class="validate"></div>
                </div>
            </div>
        </div>
        <div class="container m2 mb-4">
            <button class="pretty-button" id="myBtn">Save changes</button>
        </div>
    </form>
</div>
</body>
</html>

