<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(~{::title})">
    <title>shvdy project</title>
</head>
<body>
<div th:replace="template :: main-navbar"></div>
<div th:replace="template :: decor-navbar"></div>
<div th:replace="template :: main(~{:: div.maincontent})">

    <div class="maincontent d-flex flex-nowrap p-lg-3">
        <img class="pagepic" th:src="@{/img/bg3.jpg}">
        <div class="mr-auto">
            <h1>USER PAGE</h1>
            <h2>Coming soon...</h2>
        </div>
    </div>

</div>
<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts(null)"></div>  <!--(~{::script})-->
</body>
</html>