<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(~{::title})">
    <title>shvdy project</title>
</head>
<body>
<div th:replace="template::top-bar"></div>
<div id="modal-window" style="display: none"></div>
<div th:replace="template :: main(~{:: div.maincontent})">
    <div class="maincontent d-flex flex-nowrap">
        <div class="row" style="width: 100%">
            <div class="row mx-2" style=" background: #eeeeee">
                <!--                <div class="h5">Header test</div>-->
                <button class="pretty-button m-3" onclick="setContentContainerTo('/food-diary')">My Diary</button>
                <button class="pretty-button m-3" onclick="setContentContainerTo('/profile')">My Profile</button>
            </div>
            <!--            <div style="visibility:hidden;" th:switch="${user.getUserProfile().getDailyCalsNorm()}">-->
            <!--                <div th:case="-1">-->
            <!--                    <button class="is-profile-completed" style="visibility: hidden"-->
            <!--                            value="/complete-profile-to-proceed"></button>-->
            <!--                </div>-->
            <!--                <div th:case="*">-->
            <!--                    <button class="is-profile-completed" style="visibility: hidden" value="/food-diary"></button>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="maincontent  d-flex flex-grow-1 flex-nowrap m-2" data-aos="fade-zoom-in" data-aos-offset="0"
                 id="content-container" style="background: #eeeeee; border: 1px solid black">
            </div>
        </div>
    </div>
</div>
<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts(~{::script})">
    <script>
        $(document).ready(function () {
            setContentContainerTo('/food-diary');
        });

        function setContentContainerTo(controllerEndpoint) {
            $.get(controllerEndpoint, function (data) {
                document.getElementById('content-container').innerHTML = data;
            });
        }

        function openAddFoodModalWindow() {
            event.preventDefault();
            var data = $('#data-for-add-food-modal-window').serialize();
            $.post('/create-add-food-modal-window', data, function (data) {
                document.getElementById('modal-window').innerHTML = data;
                $("#modal-window").css("display", "block");
            });
        }

        function closeAddFoodModalWindow() {
            $('#modal-window').css("display", "none");
        }

        window.onclick = function (event) {
            if (event.target == $('#myModal')) {
                $('modal-window').style.display = "none";
            }
        };

        function replaceItems(html) {
            $('#items').html(html);
        }

        function appendNewEntry() {
            var x = $('.foodentry').length;
            $("#items").append('<input type="hidden" class=".foodlink" value="0" id="entries' + x + '.quanitity" name="entries[' + x + '].quantity" >'
                + '<input type="hidden" value="' + event.target.nextSibling.nextSibling.value + '" id="entries' + x + '.foodId" name="entries[' + x + '].foodId" >');
            var data = $('#newEntryf').serialize();
            $.post('/', data, replaceItems);
        }
    </script>
</div>
</body>
</html>