<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(~{::title})">
    <title>shvdy project</title>
</head>
<body>
<div th:replace="template::top-bar"></div>
<div id="modal-window" style="display: none"></div>
<div th:replace="template :: main(~{:: div.maincontent})">
    <div class="maincontent d-flex flex-nowrap">
        <div class="row" style="width: 100%">
            <div class="row tabs mx-2" style=" background: #eeeeee; border: 1px solid black">
                <button class="pretty-button bg m-3" onclick="setContentContainerTo('/food-diary')">My Diary</button>
                <button class="pretty-button bg m-3" onclick="setContentContainerTo('/profile')">My Profile</button>
            </div>
            <div class="maincontent  d-flex flex-grow-1 flex-nowrap m-2"
                 id="content-container" style=" background: rgba(192,181,218,0.4);
background: linear-gradient(180deg, rgba(218,216,212,0.4) 11%, rgba(224,224,224,0.5) 49%, rgba(240,255,239,0.5) 100%); border: 1px solid black">
            </div>
        </div>
    </div>
</div>
<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts(~{::script})">
    <script>
        $(document).ready(function () {
            setContentContainerTo('/food-diary');


        });

        function tabClick(tab) {
            $('.record-tabs').css("display", "none");
            $(tab).css("display", "block");
        }

        function setContentContainerTo(controllerEndpoint) {
            $.get(controllerEndpoint, function (data) {
                document.getElementById('content-container').innerHTML = data;
            });
        }

        function changeModalContent(containerName) {
            // $('.switch-content').text = newbuttonName;
            setModalContainerTo(containerName);
        }

        function setModalContainerTo(name) {
            $('#modalbody > *').css("display", "none");
            document.getElementById(name).style.display = "block";
        }

        function funn() {
            event.preventDefault();
            var data = $('#createfoodform').serialize();
            $.post('/create-food', data, function (data, statusText, xhr) {
                document.getElementById('modal-window').innerHTML = data;
                document.getElementById('modal-window').innerHTML = xhr + ' ' + statusText;
                // $("#modal-window").css("display", "block");
            });
        }

        function openAddFoodModalWindow(recordtab) {
            event.preventDefault();
            var data = $(recordtab).serialize();
            $.get('/create-add-food-modal-window', data, function (data) {
                document.getElementById('modal-window').innerHTML = data;
                $("#modal-window").css("display", "block");
            });
        }

        function closeAddFoodModalWindow() {
            $('#modal-window').css("display", "none");
        }

        window.onclick = function (event) {
            if (event.target == $('#myModal')) {
                $('modal-window').style.display = "none";
            }
        };

        function replaceItems(html) {
            $('#new-entries-container').html(html);
        }

        function appendNewEntry() {
            var x = $('.foodentry').length;
            $("#items").append('<input type="hidden" class=".foodlink" value="0" id="entries' + x + '.quanitity" name="entries[' + x + '].quantity" >'
                + '<input type="hidden" value="' + event.target.nextSibling.nextSibling.value + '" id="entries' + x + '.foodId" name="entries[' + x + '].foodId" >');
            var data = $('#newEntryf').serialize();
            $.post('/', data, replaceItems);
        }
    </script>
</div>
</body>
</html>