<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(~{::title})">
    <title>Your Nutrition Diary • Dreamfit</title>
</head>
<body>
<div th:replace="template::top-bar"></div>
<div id="modal-window" style="display: none"></div>
<div th:replace="template :: main(~{:: div.maincontent})">
    <div class="maincontent d-flex" style="height: 100%">
        <div class="d-inline-flex" style="width: 100%">
            <div class="d-flex flex-column tabs mx-2 flex-grow-1" style="width: 20%">
                <button class="pretty-button menu-pr-button bg  my-2"
                        onclick="setContentContainerTo('/food-diary')  " th:text="#{diary}">My Diary
                </button>
                <button class="pretty-button  menu-pr-button bg my-2" onclick="setContentContainerTo('/profile')"
                        th:text="#{profile}">My Profile
                </button>
            </div>
            <div class="maincontent  d-flex flex-grow-1  m-2" id="content-container" style="border-radius: 5px"></div>
        </div>
    </div>
</div>
<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts(~{::script})">
    <script type="text/javascript">
        $(document).ready(function () {
            setContentContainerTo('/food-diary');
            $('.recordTab').css("background", "#e2dbff");
            window.onclick = function (event) {
                if (event.target === $('#modal-window')) {
                    $('modal-window').style.display = "none";
                }
            };
        });

        function setContentContainerTo(controllerEndpoint) {
            $.get(controllerEndpoint, function (data) {
                document.getElementById('content-container').innerHTML = data;
            });
        }

        function setModalContainerTo(name) {
            $('#modalbody > *').css("display", "none");
            document.getElementById(name).style.display = "block";
        }

        function openAddFoodModalWindow(recordtab) {
            event.preventDefault();
            var data = $(recordtab).serialize();
            $.get('/adding-entries-modal-window', data, function (data) {
                document.getElementById('modal-window').innerHTML = data;
                $("#modal-window").css("display", "block");
            });
        }

        function addedNewEntry(foodDTO, foodName) {
            // event.preventDefault();
            var data = '&foodDTOJSON=' + foodDTO + '&foodName=' + foodName + '&newEntriesDTOJSON=' + $('#new-entries-list').val();
            $.post('/added-entry', data, function (response) {
                $('#new-entries-container').html(response);
            });
        }

        function removedEntry(index) {
            $(this).closest('tr').remove();
            data = 'index=' + index + '&newEntriesDTOJSON=' + $('#new-entries-list').val();
            $.post('/removed-entry', data, function (response) {
                $('#new-entries-container').html(response);
            });
        }

        function saveCreatedFood() {
            event.preventDefault();
            var data = $('#createfoodform').serialize();
            $.post('/save-new-food', data, replacePageWith);
        }


        function saveNewEntries() {
            event.preventDefault();
            var data = $('#new-entries-form').serialize();
            $.post('/save-new-entries', data, replacePageWith);
        }

        function replacePageWith(html) {
            var newDoc = document.open("text/html", "replace");
            newDoc.write(html);
            newDoc.close();
        }


        function tabClick(tab) {
            $('.recordTab').css("background", "#e2dbff");
            $(event.target).css("background", "linear-gradient(338deg, rgba(213, 95, 147, 0.62) 10%, rgba(233, 232, 148, 0.73) 100%)");
            $('.record-tabs').css("display", "none");
            $(tab).css("display", "block");
        }

        function closeAddFoodModalWindow() {
            $('#modal-window').css("display", "none");
        }
    </script>
</div>
</body>
</html>